/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content2 {
  background-image: url('correct.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  padding: 20px;
  border: 5px solid white;
  border-radius: 20px 20px 0 0;
  width: 86%;
  height: 66vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header2{
  color: white;
  text-shadow: -2px 2px 0 green,
 2px 2px 0 green, 2px -2px 0 green, -2px -2px 0 green;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 4em;
}

.modal-body2 {
  padding: 2px 16px;
  color: white;
  width: 70%;
  background-color: rgba(0,128,0,0.33);
  border-radius: 20px;
  text-align: center;
  margin-left: 6em;
  margin-top: 0;
  padding: 2px;
}

.modal-footer2 {
  position: absolute;
  top: 27em;
  left: 7.5em;
}

.next-btn{
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  background: rgba(0,128,0,0.518);
  transition: all 0.3s ease;
}
.next-btn:active{
  background: #fff;
  color: #c05b02;
  border: 2px solid #9a1bb2;
}