/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', sans-serif;
}
.score {
  font-size: 30px;
}
.score span {
  font-size: 20px;
  position: absolute;
  left: 1.7em;
}
.guess-left {
  display: inline;
  position: absolute;
  font-size: 30px;
  left: 2.4em;
  padding: 5px;
  color: crimson;
}
.guess-left:active, .score:active{
  color: white;
}
.guess-left span{
  color: green;
  font-size: 20px;
  position: absolute;
  left: 1.7em;
  top: -1px;
}
#smiley {
  position: absolute;
  font-size: 30px;
  left: 4.8em;
}
#lightning {
  position: absolute;
  left: 6.9em;
}
#hintBulb{
  position: absolute;
  left: 8.8em;
  font-size: 30px;
  color: #f9f92e;
  text-shadow: -1px 1px 0 #0b7112,
 1px 1px 0 #0b7112, 1px -1px 0 #0b7112, -1px -1px 0 #0b7112;
}
#hintBulb:active {
  color: white;
}
#hintCount{
  font-size: 20px;
  position: absolute;
  left: 14.5em;
}
body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper{
  width: 430px;
  background-color: rgba(68,249,89,0.2);
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,1);
  margin-top: 2em;
}
.topPart{
  position: relative;
  color: green;
  background-color: green;
  border-radius: 10px;
  text-shadow: -1px 1px 0 #fff,
 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  font-size: 30px;
  font-weight: 600;
  margin-top: 1px;
  margin-bottom: 5px;
  border-bottom: 1px solid white;
}
#topBG{
  margin-right: -2em;
  margin-left: -2em;
}
.wrapper .content{
  margin: 25px 25px 35px;
}
.content .inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputs input{
  height: 57px;
  width: 56px;
  margin: 4px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background: #c05b02;
  pointer-events: none;
  text-transform: uppercase;
  border: 1px solid #fff;
}
.typing-input {
  opacity: 0;
  z-index: -999;
  position: absolute;
  pointer-events: none;
}
.inputs input:first-child{
  margin-left: 0px;
}
.content .details{
  margin: 20px 0 25px;
}
.details p{
  color: green;
  font-size: 19px;
  margin-bottom: 10px;
  text-shadow: -1px 1px 0 #fff,
 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}
.reset-btn{
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 2em;
  background: crimson;
  transition: all 0.3s ease;
}
.reset-btn:active{
  background: #fff;
  color: #c05b02;
  border: 2px solid #9a1bb2;
}
.hint span{
  color: yellow;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  line-height: 0.1;
  text-shadow: -1px 1px 0 #723b00,
 1px 1px 0 #723b00, 1px -1px 0 #723b00, -1px -1px 0 #723b00;
}
.question span {
  color: #c05b02;
}
.wrong-letter span{
  color: red;
  text-transform: uppercase;
}
#alphabet{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -1.5em -1.5em 10px;
}
.keys {
  font-size: 30px;
  font-family: Times New Roman;
  text-transform: uppercase;
  color: #fff;
  background-color: green;
  margin: 5px;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 5px;
  min-width: 15%;
  text-align: center;
}

.keys:active{
  color: green;
  background-color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-image: url('/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  padding: 20px;
  border: 10px solid green;
  border-radius: 20px 20px 0 0;
  width: 90%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header{
  color: white;
  text-align: center;
  text-shadow: -3px 3px 0 #723b00,
 3px 3px 0 #723b00, 3px -3px 0 #723b00, -3px -3px 0 #723b00;
 margin-top: 6em;
}
.modal-header #finalScore{
  font-size: 70px;
  border: 5px solid white;
  border-radius: 50%;
  display: inline;
  padding: 10px;
}
.modal-header h2 {
  font-size: 60px;
  color: gold;
}
.modal-body {
  padding: 2px 16px;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
}

@media screen and (max-width: 460px) {
  .wrapper {
    width: 100%;
  }
  .wrapper h1{
    font-size: 20px;
    padding: 16px 20px;
  }
  .wrapper .content{
    display: block;
    position: relative;
    margin: 5px 20px 35px;
  }
  .inputs input{
    height: 51px;
    width: 50px;
    margin: 3px;
    font-size: 20px;
  }
  .details p{
    font-size: 16px;
  }
  .content .reset-btn{
    padding: 14px 0;
    font-size: 16px;
  }
  .keys{
    font-size: 20px;
    margin: 3px;
    padding: 5px;
  }
  .details .hint, .details .wrong-letter, .details .guess-left, .details .question{
    margin-bottom: -3px;
  }
}